<footer>
	<div class="container">
		<div class="f1">
			<div class="logo">
				<img src="{{asset('assets') }}/img/logo.png">
			</div>
			<p>Souscrivez à notre newsletter, et restez informer.</p>
			<div class="subscribe">
				<input type="email" placeholder="Entrer votre email">
				<button>
					<i class="uil uil-arrow-right"></i>
				</button>
			</div>
		</div>
		<div class="f2">
			<h4>Liens</h4>
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#services">Réalisations</a></li>
				<li><a href="#about">A propos</a></li>
				<li><a href="blog.html">Formation</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="f3">
			<h4>Nous contacter</h4>
			Burkina Faso-Ouagadougou<br>
			<span class="material-icons-sharp">
				home
			</span>+226 64 23 63 63<br>
			<span class="material-icons-sharp">
				phone_iphone
			</span>00226 78 16 83 94/ 70 29 12 78<br>
			<span class="material-icons-sharp">
				mail_outline
			</span>info@ciameburkina.tech<br>
			<span class="material-icons-sharp">
				language
			</span>www.ciameburkina.tech
		</div>
		<div class="f4">
			<ul class="socials">
				<li>
					<a href="https://www.facebook.com/" target="_blank">
						<i class="uil uil-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://www.twitter.com/" target="_blank">
						<i class="uil uil-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/" target="_blank">
						<i class="uil uil-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<small>Copyright &copy; CIAME 2022</small>
	</div>
</footer>
