<!-- Masthead-->
<header class="masthead">
	<div class="container">
		<div class="socials">
			<a href="https://facebook.com/" target="_blank">
				<i class="uil uil-facebook-f"></i>
			</a>
			<a href="https://twitter.com/" target="_blank">
				<i class="uil uil-twitter"></i>
			</a>
			<a href="https://linkedin.com/" target="_blank">
				<i class="uil uil-linkedin"></i>
			</a>
		</div>
		<div class="info">
			<h2>Computer Internet Application Management Entrepreneurship (CIAME),
			</h2>
			<!-- <h2>Cabinet International d'Assistance aux Micros Entreprises, </h2> -->
			<h3>All is Soft</h3><br>

			<br>
			<p>CIAME est une Entreprise de Services du Numérique. Elle excelle dans l'Analyse de Systèmes
				                    d'Information, la Conception et le Développement logiciel, les Réseaux Informatiques, l'Audit et la Sécurisation
				                    des SI, la Formation
				                    des Ressources Humaines, le Management d'Entreprises,
			</p>
			<a href="#contact" class="btn btn-primary">Contact</a>
		</div>

	</div>
	<!-- ============== END OF Masthead ============== -->
</header>
