<nav>
	<div class="container">
		<a href="index.html" class="logo"><img src="{{asset('assets') }}/img/logo.png"></a>
		<ul>
			<li>
				<a href="#" class="active">Accueil</a>
			</li>
			<li>
				<a href="#services">Services</a>
			</li>
			<li>
				<a href="#portfolio">Réalisations</a>
			</li>
			<li>
				<a href="#about">A propos</a>
			</li>
			<li>
				<a href="#blog">Formation</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
		<button id="menu-btn">
			<span class="material-icons-sharp">menu</span>
		</button>
		<button id="close-btn">
			<span class="material-icons-sharp">close</span>
		</button>
	</div>
</nav>
<!-- END OF Navigation-->
